@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard Variable', sans-serif;
}

.scroll::-webkit-scrollbar{
    width: 10px;
  }

.scroll::-webkit-scrollbar-thumb{
  background-color: rgba(200,200,200,1);
  border-radius: 10px; 
}

.scroll::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}

@layer components {
  .clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
